.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
  justify-items: center;
  padding: 1rem;
}


.today {
  background: #f0c869;
  transition: all 0.5s linear;
}
.selected {
  background: #807867;
  transition: all 0.5s linear;
}
